/* Variables de colores */
:root {
    --primary-color: #353535; /* Color oscuro para textos y fondo de cabecera */
    --secondary-color: #ddd; /* Color claro para fondos y secciones */
    --highlight-color: #ff4500; /* Color de acento para enlaces y botones */
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: 'Helvetica', sans-serif;
}

header {
    background: var(--primary-color);
}

.navbar .nav-link {
    color: var(--secondary-color);
}

.navbar .nav-link:hover,
.navbar .nav-item.active .nav-link {
    color: var(--highlight-color);
}

h1, h2, h3, p {
    margin-top: 20px;
    margin-bottom: 10px;
}

img {
    border-radius: 8px;
}

footer {
    padding: 20px;
    background: var(--primary-color);
    color: var(--secondary-color);
}
